body{
    background-image:url("#{resource['imagen:fondo.jpg']}");
    
    
}

h1 {
    font-family: Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
    font-size:  30px;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
    color: #045491;
    text-align: center;
}
h2 {
    font-family: Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
    font-size:  30px;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
    color: #045491;
    text-align: center;
}
